.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #0f172a;
  color: white;
  padding: 30px 20px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 18px;
}

.sidebar a:hover {
  background: #1e293b;
}



.logout-btn {

  width: 100%;

  margin-top: 20px;

  padding: 10px;

  border: none;

  border-radius: 6px;

  background: #a92e2e;

  color: white;

  cursor: pointer;

}

.logout-btn:hover {

  background: #781515;

}